/* Main Page */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}
.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}
.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navHome *{
  color: #FFF2CC !important;
  font-size: 0.9rem !important;
}
.navHome p{
  line-height: 0.3;
}
body {
    font-family: "Roboto", sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('./image/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
}
.log{
    color: #5e9693 !important;
    font-size: 1.5rem !important;
}
.reg{
    color: #E16A54 !important;
    font-size: 1.5rem !important;
}
.apbud > span{
    font-size: 1.5rem !important;
}
#MainPage *{
    color: #FFF2CC !important;
}
/* Register Page */
#rejestracja p,label{
    color: #FFF2CC !important;
}
#rejestracja label{
    font-size: 0.8rem;
}
#rejestracja button{
  width: 100%;
  background-color: #E16A54  ;
  border: 0;
}
/* Login Page */
#logowanie p,label{
  color: #FFF2CC !important;
}
#logowanie label{
  font-size: 0.8rem;
}
#logowanie button{
  width: 100%;
  background-color: #5e9693  ;
  border: 0;
}
/* Home Page */
#stronaUzytkownika *{
  color: #FFF2CC !important;
}
#dodajWydatek p, #bilans *{
  color:  #FFF2CC !important;
}
#dodajPrzychod p{
  color:  #FFF2CC !important;
}
#dodajPrzychod button, #dodajWydatek button{
  width: 100%;
  background-color:#116A7B  ;
  border: 0;
}
.modbtx{
  width: 30px !important;
}
#modb p{
  color: #333 !important;
}
canvas{
  background-color:rgb(238, 229, 188);
}
#piechart1, #piechart2, #chart{
  width: 100%;
  height: 300px;
}
#bilans button{
  width: 100%;
  background-color:#116A7B;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  font-size: 1.4rem;
}
#bilans input{
  color: #535252 !important;
}
#bilans li{
  color: #535252 !important;
}
.ukryta-lista {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-height: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1000;
  background-color: rgb(238, 229, 188);
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  opacity: 0;
  transition: 
    max-height 0.5s ease-in-out,
    padding 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.pokazana {
  max-height: 450px;
  overflow-y: auto; /* scroll aktywowany po rozwinięciu */
  opacity: 1;
  padding: 10px;
}
@media (max-width:1200px) {
  .navbar-collapse {
    background-color: #535252;
    opacity: 0.8;
  }
  #piechart1, #piechart2, #chart{
    width: 300px !important;
  }
}





